/* 
    Created on : 08/10/2018, 5:23:08
    Author     : Jose
*/
    .ed-modal-container {
        background: rgba(0,0,0,.8);
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        display: flex;
    }
    
    .ed-modal-content {
        background: #fff;
        width: 90%;
        max-width: 1000px;
        margin: auto;
    }
    
    .modal-title {
        margin: auto;
        padding: 1%;
        text-align: center;
    }
    
    .modal-content {
        height: auto;
        margin: auto;
        text-align: justify;
        padding: 3%;
    }