<div>
    <h4>Con la siguiente imagen podras ver una proyeccion de realidad aumentada</h4>
    <img src="../img/HIRO.jpg">
    <h4>Utiliza el siguiente enlace para abrir la aplicacion AR desde otro dispositivo y enfoca este recuadro</h4>
    <a href="../AR.js-master/three.js/examples/default.html">Click aqui</a>
</div>