<div>
    <p style="font-size: x-large">El primer proyecto, que podría llamarse real, que pidió el profesor fue 
        subir un blog donde cada alumno estará publicando cada actividad que se 
        haga en clase y que será un registro, practica y desarrollo de todo lo 
        que se pueda aprender en esta materia. Bienvenido a mi blog! :D</p>
</div>