<div>
    <div>
        <img src='img/bandera.svg'/>
    </div>
    <br><br>
    <div>
        <canvas id='canvas' width='400' height='250' style='border-style:solid;'>Su navegador no tiene soporte para mostrar el contenido</canvas>
    </div>
</div>