<div>
    <h2>Contao: una alternativa más sencilla a TYPO3</h2>
    <p style="font-size: large">Contao, el joven sistema de gestión de contenidos, se ha establecido en 
        el mercado como un sistema alternativo a otros más veteranos y completos
        como TYPO3 o Joomla por su flexibilidad y accesibilidad. Este gestor de 
        contenidos de código abierto, muy fácil de usar también para 
        principiantes, destaca, además, por la gran cantidad de extensiones que 
        permiten ampliar sus funcionalidades y por su adaptabilidad a páginas 
        responsivas y en varios idiomas.</p>
    <h2>Los datos más importantes</h2>
    <p style="font-size: large">Basado en el navegador, el gestor de contenidos Contao, conocido anterio
        rmente como TypoLight, es un programa relativamente joven que apreció 
        por primera vez en 2006. Cuatro años después, adoptó su nombre actual 
        para evitar cualquier relación con TYPO3. Contao consiste en un clásico
        sistema de gestión de contenidos web, dejando el social publishing o 
        blog publishing en un segundo plano, aunque existen extensiones 
        disponibles que atienden a esta finalidad.</p>
    <p style="font-size: large">Aquí se enumeran los datos más importantes sobre Contao y sus enlaces:</p>
    <ul>
        <li><p style="font-size: large">Utiliza PHP como lenguaje de programación</p></li>
        <li><p style="font-size: large">Utiliza una base de datos MySQL</p></li>
        <li><p style="font-size: large">Edita en XHTML Strict o en HTML5</p></li>
        <li><p style="font-size: large">Está disponible en 30 idiomas</p></li>
        <li><p style="font-size: large">Está licenciado bajo GNU Lesser General Public License</p></li>
    </ul>
</div>