<div>
    <p>Usa las teclas WASD o FLECHAS para mover el cuadro negro y atrapar el objeto rojo</p>
    <div id="crafty-game"></div>
    <style>
        #crafty-game {
            background: #efefef;
        }
    </style>
</div>