<div>
    <p style="font-size: x-large">En la primera clase realizamos una prueba de 
        diagnostico en w3School.com, la prueba estaba dividida en 3 partes: 
        Html, Css y JavaScript.<br>
        Cada una de las pruebas constó de 25 preguntas, esa fue la manera en 
        que se evaluó nuestros conocimientos previos sobre las herramientas 
        más básicas que se
        utilizarán para la clase de Graficación y animación.<br>
        Se entiende por prueba diagnóstica la que tiene como finalidad 
        determinar cuáles son los puntos fuertes y los puntos débiles del 
        estudiante que se presenta a la misma, qué puede o no puede hacer con 
        la lengua, y hasta qué punto se desenvuelve en las distintas habilidades.</p>
</div>