<div>
    <h3>Ver ejemplo de Angular haciendo </h3><a href="/res/angular.html">click aqui</a><br/><br/>
    <h3>Ver ejemplo de React haciendo </h3><a href="/res/react.html">click aqui</a><br/><br/>
    <h3>Ver ejemplo de Vue haciendo </h3><a href="/res/vue.html">click aqui</a><br/><br/>
</div>
