<div>
    <div>
        <canvas id='canvas' width='480' height='270'>
    </div>
    <style>canvas {border: 1px solid #d3d3d3;background-color: #f1f1f1;}</style>
    <div>
        <button onmousedown='accelerate(-0.2)' onmouseup='accelerate(0.05)'>ACELERAR</button>
    </div>
</div>