<div><p style="font-size: large">Juego de Snake!! Pulsa el recuadro del juego y mueve la serpiente con las flechas de direccion para alimentarla, gana tantos puntos como puedas.</p></div>
<div id="screen"></div>
<style>
canvas {
        display: block;
        border: 1px solid #000;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
}
</style>