<div>
    <div>
        <canvas id='canvas' width='400' height='400' style='background-color:#333'></canvas>
    </div>
    <div>
        <canvas id='canvas2' width='400' height='400' style='background-color:#333'></canvas>
    </div>
</div>