<div>
    <h2>Hagamos Magia! escribe un número impar positivo</h2>
    <p>Escribe el numero:</p>
    <form id="form">
        <input id="campo" type="text"/>
    </form>
    <br>
    <div id="img"></div>
</div>